In [75]:
t={'name':'Ravi','phone':9999999999}

In [26]:
t['name']

'Ravi'

In [27]:
t['age']

20

In [28]:
t.values()

dict_values(['Ravi', 20])

In [29]:
t.keys()

dict_keys(['name', 'age'])

In [30]:
t

{'name': 'Ravi', 'age': 20}

In [31]:
for i in t:
    print(i)

name
age

In [32]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [76]:
for key,val in t.keys(),t.values():
    print(key,"  ",val)

name    phone
Ravi    9999999999

In [34]:
t

{'name': 'Ravi', 'age': 20}

In [43]:
t.get('name')

'Ravi'

In [47]:
l=[1,2,3,4,5]
dict1=dict.fromkeys(l,0)

In [48]:
dict1

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0}

In [49]:
dict1.get(5)

0

In [52]:
print(dict1.get(6))

None

In [55]:
dict1[6]

KeyError: 6

In [56]:
dict1[1]="one"

In [57]:
dict1[2]="two"

In [58]:
dict1[3]="three"
dict1[4]="four"
dict1[5]="five"

In [59]:
dict1

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [67]:
print(type(dict1))

<class 'dict'>

In [81]:
dict1={"key1":"val1","key2":"val2"}

In [83]:
for key,val in dict1.keys(),dict1.values():
    print(key,val)
    print('----------------')

key1 key2
----------------
val1 val2
----------------

In [84]:
t

{'name': 'Ravi', 'phone': 9999999999}

In [85]:
t.update({'phone':9090909090})

In [86]:
t

{'name': 'Ravi', 'phone': 9090909090}

In [92]:
t.update({'addr':'Epurupalem','college':'kalisalinga'})

In [93]:
t

{'name': 'Ravi',
 'phone': 9090909090,
 'college': 'kalisalinga',
 'addr': 'Epurupalem'}

In [94]:
t.pop('addr')

'Epurupalem'

In [95]:
t

{'name': 'Ravi', 'phone': 9090909090, 'college': 'kalisalinga'}

In [96]:
t.popitem()

('college', 'kalisalinga')

In [97]:
t

{'name': 'Ravi', 'phone': 9090909090}

In [98]:
t['age']=20

In [99]:
t

{'name': 'Ravi', 'phone': 9090909090, 'age': 20}

In [100]:
t.clear()

In [101]:
t

{}

In [102]:
print(type(t))

<class 'dict'>

In [118]:
keys=[0,1,2,3,4,5]
vals=['zero','one','two','three','four','five']

In [119]:
a=dict.fromkeys(keys)

In [120]:
a

{0: None, 1: None, 2: None, 3: None, 4: None, 5: None}

In [123]:
for i in a:
    a[i]=vals[i]

In [124]:
a

{0: 'zero', 1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [136]:
a.update({6:'six',7:'seven',8:'eight',9:'nine'})

In [143]:
print(a)
n=int(input())
num=''
def fun(i):
    return a[i]
for i in str(n):
    num+=fun(int(i))+' '
print(num)

{0: 'zero', 1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 7: 'seven', 8: 'eight', 9: 'nine'}
56789098765432345678909874345678909865432123432123456789
five six seven eight nine zero nine eight seven six five four three two three four five six seven eight nine zero nine eight seven four three four five six seven eight nine zero nine eight six five four three two one two three four three two one two three four five six seven eight nine

In [145]:
contacts=dict()

In [146]:
names=['ravi','balu','shabaz']
numbers=[909878098,9456789876,8909876980]

In [147]:
contacts=dict.fromkeys(names)

In [149]:
for i in range(len(contacts)):
    contacts[names[i]]=numbers[i]

In [150]:
contacts

{'ravi': 909878098, 'balu': 9456789876, 'shabaz': 8909876980}

In [157]:
fileptr=open('Public Internship Python\scores','r')

FileNotFoundError: [Errno 2] No such file or directory: 'Public Internship Python\\scores'